<h1>File Explorer</h1>
<p>Welcome to {{title}}</p>
<div class="panel panel-default mainpanel">
           <div class="panel-heading">
                   File Browser
                   <span class="up">
                    <i class="fa fa-level-up"></i> Up
                   </span>
           </div>
      <div class="panel-body">
              <table class="linksholder">
              </table>
      </div>
  </div>
