body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
  padding: 50px;
}

a {
  color: #00B7FF;
}

#box{
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    color: cyan;
    background: rgba(0, 0, 0, 0.2);
}
